*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --maingreen: #0e771b ;
    --secondshade:#378e42;
    --cream: #E1EB95;
    --secondcream: #f7ecd1;
}

html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    align-items: center;
    padding: 0.4rem 1rem;
    background-color: rgb(250, 249, 249);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

nav.scrolled {
    background-color: white; /* or any other color */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  }

.logo-header{
    display: flex;
    gap: 3px;
}

.logo-header img{
    width: 3rem;
}

.logo-header h1{
    font-family: "Open Sans";
    color: black;
    font-size: 0.9rem;
}

.nav-list{
    display: flex;
    gap: 2rem;
    font-family: "lora";
    font-weight: 600;
    font-size: 0.9rem;
    align-items: center;
}

.nav-list li{
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: black;
    
}

.nav-list a:hover {
    border-bottom: 3px solid yellow;
    color: green;
    
}

.icon {
    font-size: 1.2rem;
    color: var(--main);
    display: none;
}

.btn {
    /* display: flex; */
    /* align-items: center; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    outline: 2px solid green;
    border-radius: 1rem;
    padding: 7px 25px;
    /* gap: 4px; */
    font-size: 0.9rem;
    color: #fff;
    font-family: "Lora";
}

.btn:hover{
    color: #fff;
    background-color: rgb(185, 185, 73);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.7);
}

.btn:hover a{
    border: none;
    color: #fff;
}

/* image-card */
.image-card{
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    /* align-items: left; */
    padding-top: 1px;
}

.image-card::before{
    content: '';
    background-image: url(/unsse-images/front-view-child-holding-pile-books-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    filter: brightness(0.5);
}

.texts{
    position: relative;
    
    padding: 20px;
    margin-left: 2rem;
    /* width: 60%; */
}


.texts h2{
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Open Sans";
    color: #fff;
    margin-bottom: 1.5rem;
    /* text-align: left; */
    /* padding-right: 19rem; */
}

.texts p{
    /* color: #fff; */
    /* width: 70%; */
    /* text-align: left; */
    color: #fff;
    font-size: 1.2rem;
    font-family: "Lora";
    font-weight: 400;

}

.buttons button{
    margin-top: 1.5rem;
    padding: 10px 20px ;
    background-color:rgb(185, 185, 73) ;
    outline: none;
    border: none;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-family: "lora";
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* text-card */

.utilities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 5rem;
    gap: 1.2rem;
    position: absolute;
    top: 32rem; 
   
    

}


#utilities-icon{
    background-color:var(--second);
    color: #000;
    font-size: 1.9rem
    
    }

#utilities-icon i{
    padding: 5px;
    width: 1.5rem;
    color: var(--orange);
    font-size: 1.5rem;
    
}

.container{
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: #fff;
    text-align: center;
    
    
}

.container h2{
    color: rgb(16, 122, 16) ;
    font-size: 1.3rem;
    font-family: "Open Sans";
    font-weight: 700;
    margin-bottom: 0.7rem;
}

.container p{
    font-family: "lora";
    font-weight: 400;
    font-size: 0.8rem;
}

/* numbers */

.clients{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10rem;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}

.numbers{
    color: rgb(185, 185, 73);
    font-family: "Open Sans";
    font-size: 2rem;
}

.numbers-text{
    font-size: 0.9rem ;
    font-family: "lora";
}

.img-text{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* margin: 1rem 1rem; */
    align-items: center;
    background-image: url(/unsse-images/greenbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* text-align: center; */
}

.img-text h2{
    font-size: 1.3rem;
    font-family: "Open Sans";
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.img-text p{
    font-family: "lora";
    margin-bottom: 0.6rem;

}

.img-text span{
    border-bottom: 2px solid green;
    width: 20rem;
}

.img-text-left{
    margin-left: 5.3rem;
}


/* teachers image card */

.teachers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 4rem 6rem;

}

.teachersection{
    /* margin-top: 2rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(248, 244, 244);
}

.teacher-image{
    width: 100%;
}

.teacher-image img{
    width: 100%; /* Set your desired width */ 
    height: 200px; 
    object-fit: cover;
}

.teacher-page{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* border-radius: 2rem; */
    
}

.teachers-text{
    margin-left: 5.6rem;
}

.teachers-text span{
    color: green;
    margin-bottom: 1rem;
    font-family: "lora";
}

.teachers-text h3{
    font-size: 1.5rem;
    font-family: "Open Sans";
    font-weight: 800;
}

.teachers-text p{
    font-size: 1rem;
    font-family: "lora";
}

.teacher-info{
    text-align: center;
  
}

.teacher-info h3{
font-family: "Open Sans";
margin-bottom: 6px;

}

.teacher-info p{
    font-family: "lora";
}

.details{
    /* text-align: center; */
    gap: 1rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* tetimonials */

.testimonials {
    width: 90%;
    margin: auto;
    padding: 3rem 2rem;
    text-align: center;
  }
  .testimonials h1{
    font-family: "Open Sans";
    font-size: 2rem;
  }
  .testimonials p{
    font-family: "lora";
    font-size: 0.8rem;
  }
  .testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #f5e8B8;
    padding: 25px;
    cursor: pointer;
    display: flex;
  }
  .testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
  }
  .testimonial-col p {
    padding: 0;
    font-family: "lora";
    font-size: 0.8rem;
  }
  .testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
    font-family: "Open Sans";
    /* font-size: 2rem; */
  }
  .testimonial-col i {
    color: green;
  }
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
  }

  /* footer */

  
.footer-section{
    /* background-image: url(/unsse-images/.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-top: 2rem;
    padding: 1.2rem 1rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 0.5rem;
    /* background-image: url(/unsse-images/greenbb.jpg); */
}


.footer-section h2{
    color: #fff;
    margin-bottom: 1rem;
    padding-top: 3rem;
    font-family: "Open Sans";
    font-size: 1.3rem;

}


.icon-text {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 0.8rem;

}

.icon-text i{
    color: #f5e8B8;
    font-weight: 900;
    font-size: 0.8rem;
    font-family: "nunito";
}


.icon-text a{
    text-decoration: none;
    color: #fff;
    font-family: "lora";
    font-size: 0.9rem;
    
}

.contact-icon{
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1.2rem;

}

.contact-icon i{
    color: #f5e8B8;
}

.contact-icon p{
    color: #fff;
    font-family: "lora";
    font-size: 0.9rem;
    
}

.brands {
    
    font-size: 1.1rem;
    
}

.brands i {
    
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--cream);
    
}


footer{
    display: flex;
    justify-content: center;
    
    color: #fff;
    font-size: 0.8rem;
    font-family: "lora";
    padding-bottom: 4px;
    align-items: center;
    padding: 1.5rem 1rem;
    /* background-image: url(/unsse-images/greenbb.jpg); */

    
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: #fff;

}

.quicklinks{
    margin-left: 7rem;
    padding-right: 2rem;

}

.rightsreserved, footer i{
    color: #f5e8B8;
}

.info h2{
    font-size: 1.3rem;
}

.info p{
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 3rem;
}
   
.generalfooter{
    background-color: #04380a;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 9%;
    /* background-image: url(/unsse-images/grrenb.jpg); */
}







/* scroll arrow */
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--maingreen);
    border-radius: 50%;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.back-to-top.show {
   display: inline-flex;
}


.back-to-top i{
    color: #fff;
    font-size: 1.1rem;
    transition: 0.2s ease-out;
}

.back-to-top:hover {
background-color: var(--secondshade);

}

.back-to-top:hover i{
    transform: translateY(-4px);
    color: #fff;
}


/* New styles */

.section-padding {
    padding: 60px 0 60px 0;
  }
  .section-padding-bottom {
    padding-bottom: 60px;
  }
  .section-padding-top {
    padding-top: 60px;
  }
  .section-title-wrapper,
  .gallery-area.gallery-fullwidth .section-title-wrapper {
    margin-bottom: 35px;
    position: relative;
  }
  .section-title {
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .section-title h3 {
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .section-title > p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .section-title-wrapper:before {
    background: #1bb4b9 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 109px;
  }
  .section-title-wrapper:after {
    background: #ffffff none repeat scroll 0 0;
    bottom: -6px;
    color: #1bb4b9;
    content: "ÔÜù";
    font-family: fontawesome;
    font-size: 14px;
    height: 17px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 39px;
    z-index: 9;
  }
  .section-title-wrapper.title-yellow:before {
    background: #f5b120 none repeat scroll 0 0;
  }
  .section-title-wrapper.title-yellow:after {
    color: #f5b120;
  }
  .section-gray {
    background: #f0f0f0;
  }
  .section-gray .section-title-wrapper:after {
    background: #f0f0f0;
  }


/* End of new styles  */


/* media queries */


@media (max-width: 768px){
    .nav-list {
       position: absolute;
       top:60px;
       left: 300px;
       right:  0;
       flex-direction: column;
       background: var(--cream) ;
       text-align: center;
       gap: 0;
       overflow: hidden;
       transition: all, 0.7s;
       text-align: left;
       
   }
  
   .nav-list li {
       padding: 20px;

   }

  .nav-list li a {
       color:var(--main);
       font-family: "lora";
       
   }

     
  .btn{
    font-size: 1rem;
    padding: 10px 15px !important;
    color: #000;
    margin-bottom: 15px;
}


  .icon {
   display: block;
  }  

  /* image card */

  .texts h2{
    font-size: 2.3rem;
    width: 70%;

  }

  .texts p{
    font-size: 1.2rem;

  }



.utilities{
    display: grid;
    grid-template-columns:  1fr;
    margin: 2rem 6rem;
    gap: 1.2rem;
    /* position: absolute; */
    top: 32rem; 
    margin: 2rem 3rem;
    

}

.img-text{
    flex-wrap: wrap;
}


.clients{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32rem;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.teachers{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 4rem 3rem;

}


/* testimonials */
    .testimonial-col img {
      margin-left: 0px;
      margin-right: 15px;
    }


    .teachers-text{
        margin-left: 3rem;
    }
    
    .row{
        grid-template-columns: 1fr;
    }

  

    .footer-section{
        grid-template-columns: 1fr 1fr;
    }

}
