*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    align-items: center;
    padding: 0.4rem 1rem;
    background-color: rgb(247, 246, 246);
}

.logo-header{
    display: flex;
    gap: 3px;
}

.logo-header img{
    width: 3rem;
}

.logo-header h1{
    font-family: "Open-Sans";
    color: rgb(16, 122, 16);
    font-size: 1.3rem;
}

.nav-list{
    display: flex;
    gap: 2rem;
    font-family: "lora";
    font-weight: 600;
    font-size: 0.9rem;
    align-items: center;
}

.nav-list li{
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: black;
    
}

.nav-list a:hover {
    border-bottom: 3px solid yellow;
    color: green;
    
}

.icon {
    font-size: 1.2rem;
    color: var(--main);
    display: none;
}

.btn{
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: green;
    border-radius: 1rem;
    padding: 7px 25px;
    gap: 4px;
}

.btn i {
    font-size: 1rem;
    color: #fff;
}

.btn a{
    /* margin: auto; */
    /* transform: translate(-50% -50%); */
    /* text-align: center; */
    /* justify-content: center; */
    font-size: 1.1rem;
    color: #fff;
    font-family: "Open Sans";
    
}

.btn:hover{
    border: none;
    color: #fff;
    background-color: rgb(185, 185, 73);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.7);
}

/* image-card */
.image-card{
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    /* align-items: left; */
}

.image-card::before{
    content: '';
    background-image: url(/unsse-images/front-view-child-holding-pile-books-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    filter: brightness(0.5);
}

.texts{
    position: relative;
    font-family: "";
    padding: 20px;
    margin-left: 2rem;
    /* width: 60%; */
}


.texts h2{
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Open Sans";
    color: #fff;
    margin-bottom: 2rem;
    /* text-align: left; */
    /* padding-right: 19rem; */
}

.texts p{
    /* color: #fff; */
    /* width: 70%; */
    /* text-align: left; */
    color: #fff;
    font-size: 1.4rem;
    font-family: "Open Sans";
    font-weight: 400;

}

.buttons button{
    margin-top: 1.5rem;
    padding: 10px 20px ;
    background-color:rgb(185, 185, 73) ;
    outline: none;
    border: none;
    border-radius: 1rem;
    font-size: 1.1rem;
}
































@media (max-width: 768px){
    .nav-list {
       position: absolute;
       top:60px;
       left: 300px;
       right:  0;
       flex-direction: column;
       background: rgba(97, 238, 97, 0.25) ;
       text-align: center;
       gap: 0;
       overflow: hidden;
       transition: all, 0.7s;
       text-align: left;
       
   }
  
   .nav-list li {
       padding: 20px;

   }

  .nav-list li a {
       color:var(--main);
       font-family: sans-serif;
       
   }

  .icon {
   display: block;
  }  
}